/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// Base document colors
$bw_red: #d1371c;
$bw_grey: #747572;
$primary: $bw_red;
$secondary: $bw_grey;

// Navbar
$navbar-bg: lighten($primary, 10%);

#quarto-content {
    font-family: "Poppins", Sans-serif;
    color: black;
    padding-top: 0px;
}

/*-- scss:rules --*/
.navbar {
    background-color: $navbar-bg !important;
}
