/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Oswald:wght@300;400;500&display=swap');

// Base document colors
$bw_red: #d1371c;
$bw_grey: #747572;
$bw_blue: #1985A1;
$bw_dark_blue: #0D3B66;
$bw_pink: #FFCAD4;
$bw_green: #CEEC97;
$primary: $bw_red;
$secondary: $bw_grey;

// Navbar
$navbar-bg: lighten($primary, 10%);

#quarto-content {
    font-family: "Atkinson Hyperlegible", Sans-serif;
    font-size: 1rem;
    color: black;
    padding-top: 0px;
}

/*-- scss:rules --*/

a {
  color: darken($primary, 10%);
  text-decoration: none;
}

.navbar {
    background-color: $navbar-bg !important;
}

.navbar .dropdown-item:hover {
    background-color: darken($primary, 10%) !important;
}
/* css styles */
.navbar-logo {
    max-height: 50px;
}

.column-screen {
  padding: 0;
  margin: 0;
}

.column-screen .img {
  padding: 0;
  margin: 0;
  width: 100%
}

.sidebar {
  margin-top: 0px;
  padding-top: 0px;
}

.overlay-img-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.overlay-img-container img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-size: 20px;
  text-align: center;
  max-width: 500px;
  min-height: 220px;
}

.overlay-text-left {
  left: 30%;
}

.overlay-text-right {
  left: 70%;
}

.listing-block {
    margin: 0 auto;
    padding-bottom: 1.1em; 
    box-sizing: border-box;
    // border-bottom: 1px solid black;
}

.listing-block h2 {
    color: black;
    text-transform: uppercase;
}

.listing-block h2:hover {
    color: #939bc9;
}

// .pullout-container {
//   // padding-top: 2.0em;
// }

.pullout-block {
  text-align: center;
  // max-width: calc(1000px + 6vw);
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1.0em; 
  box-sizing: border-box;
}

.pullout-text h2 {
  font-family: 'Oswald';
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;
  margin-top: 0.5em;
}

.pullout-text p {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 500;
  color: white;
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #939bc9;
  text-decoration-thickness: 3px;
  margin-bottom: 1.5rem;
}

.black-background {
  background-color: black;
}

.blue-background {
  background-color: $bw_blue
}

.dark-blue-background {
  background-color: $bw_dark_blue
}

.green-background {
  background-color: $bw_green;
}

.pink-background {
  background-color: $bw_pink
}

.iframe {
  margin-bottom: 0px;
}


@media (max-width: 1030px) {
  .overlay-text {
    font-size: 15px;
  }

  .overlay-img-container img {
    height: 610px;
  }
}

@media (max-width: 480px) {
  .overlay-text {
    font-size: 20px;
  }

  .overlay-img-container img {
    height: 400px;
  }

  .iframe {
    width: 150px;
  }
}