/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// Base document colors
$bw_red: #d1371c;
$bw_grey: #747572;
$primary: $bw_red;
$secondary: $bw_grey;

// Navbar
$navbar-bg: lighten($primary, 10%);

#quarto-content {
    font-family: "Atkinson Hyperlegible", Sans-serif;
    font-size: 1rem;
    color: black;
    padding-top: 0px;
}

/*-- scss:rules --*/
.navbar {
    background-color: $navbar-bg !important;
}

.navbar .dropdown-item:hover {
    background-color: darken($primary, 10%) !important;
}
/* css styles */
.navbar-logo {
    max-height: 50px;
}

.column-screen {
  padding: 0;
  margin: 0;
}

.column-screen .img {
  padding: 0;
  margin: 0;
  width: 100%
}

.sidebar {
  margin-top: 0px;
  padding-top: 0px;
}

.overlay-img-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.overlay-img-container img {
  width: 100%;
  height: 810px;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-size: 50px;
  text-align: center;
}

@media (max-width: 858px) {
  .overlay-text {
    font-size: 30px;
  }

  .overlay-img-container img {
    width: 100%;
    object-fit: cover;
    height: 610px;
  }
}

@media (max-width: 480px) {
  .overlay-text {
    font-size: 20px;
  }

  .overlay-img-container img {
    height: 400px;
    object-fit: cover;
    width: 100%;
  }
}

.iframe {
  margin-bottom: 0px;
}
